body{
    padding: 100px;
}
.heading{
    text-align: center;
}
.container{
   border-radius: 10px;
    box-shadow: 10px 20px 40px gray;
    padding: 30px;
    margin-top: 30px;
}
#transaction{
    display: none;
}
.deposit{

    background-image: linear-gradient(90deg,rgb(253, 43, 43),rgb(255, 57, 57));
}
.withdraw{
    background-image: linear-gradient(100deg,greenyellow,rgb(179, 253, 67));
}
.balance{
    background-image: linear-gradient(100deg,rgb(253, 176, 32),rgb(250, 180, 50));
}
.deposit, .withdraw, .balance {
padding: 40px 30px;
border-radius: 8px;
color: white;
margin: 0px 30px;
}
.withdrawamount, .depositamount{
    box-shadow: 20px 20px 40px grey;
    padding: 40px 40px;
    margin: 40px 30px;
    border-radius: 10px;
}